<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Link</th>
                <th scope="col">Summary</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.link}}</td>
                <td>$ {{this.summary}}</td>
                <td>
                    <button data-id="{{this.id}}" class="save-btn"><i class="far fa-save"></i></button>

                    <button data-id="{{this.id}}" class="notes-btn"><i class="far fa-sticky-note"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="note-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter a Note!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addNote" method="post">
                    <input type="text" class ="title" name="title" placeholder="Title">
                    <textarea type="text" class="note-text" name="body" placeholder="Write Note Here"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addNote">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Javascript -->

<script type="text/javascript">

    // Display the note-modal when you click the notes-btn

    $(document).ready(function () {
        $(".notes-btn").on("click", function (event) {
            event.preventDefault();
            console.log("i clicked notes");
            $("#note-modal").modal("toggle");

            var thisId = $(this).attr("data-id");

            // $.ajax({
            // method: "GET",
            // url: "/notes" + thisId
            // })

            // .then(function(data) {
            // console.log(thisId)
            // })

        });

        $("#addNote").on("click", function(event) {
            event.preventDefault(); 
            console.log("trying to add a note from modal"); 

            var thisId = $(this).attr("data-id"); 

            var newNote = {
                title: $(".title").val, 
                body: $(".note-text").val 
            }

            .ajax("/api/addNote" + thisId, {
                type: "POST", 
                data: newNote
            })

            .then(function (newNote) {
                console.log(newNote)
            })
        })

    // Save to favs
        //$(".save-btn").on("click", function (event) {
            //event.preventDefault();
            //console.log("i clicked save");


          //  var thisId = $(this).attr("data-id");

        //});
    });

</script>