<div class="container">
    <div class="row">
        <!--START COL1 HERE -->
        <div class="col-md-8 table-col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        {{!-- <th scope="col">Summary</th> --}}
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                    <tr>
                        <td>
                            <img src="{{this.image}}" width="200" style="float:left; margin-right: 10px">
                            <a href="{{this.link}}">{{this.title}}</a>
                            <p>{{this.summary}}</p>

                        </td>
                        {{!-- <td>{{this.link}}</td> --}}
                        {{!-- <td>{{this.summary}}</td> --}}
                        <td>
                            <button data-id="{{this.id}}" class="save-btn"><i class="far fa-star"></i></button>

                            <button data-id="{{this.id}}" class="notes-btn"><i class="far fa-sticky-note"></i></button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <!--END THE COL HERE -->
        </div>
        <div class="col-med-4" id="notes">
            {{!-- <h6>this is a title of a post </h6>
            <input id='titleinput' name='title'><br>
            <textarea id='bodyinput' name='body'></textarea><br>
            <button class='add' data-id='1236' id='savenote'>Add a Note</button> --}}
        </div>
    </div>
</div>


<!--Javascript -->

<script type="text/javascript">

    // Display the note section when you click the notes button
    $(".notes-btn").on("click", function (event) {
        event.preventDefault();
        console.log("i clicked notes");
        // $("#note-modal").modal("toggle");
        $("#notes").empty();

        var thisId = $(this).attr("data-id");

        $.ajax({
            type: "GET",
            url: "/posts/" + thisId
        })

            .then(function (data) {
                console.log(data);
                $("#notes").append("<h6>" + data.title + "</h6>");
                $("#notes").append("<input id='titleinput' name='title' > <br>");
                $("#notes").append("<textarea id='bodyinput' name='body'></textarea> <br>");
                $("#notes").append("<button class='add' data-id='" + data._id + "' id='savenote'>Add a Note</button>");

                if (data.note[0]) {
                    console.log(data.note[0]);
                    $("#titleinput").val(data.note[0].title);
                    $("#bodyinput").val(data.note[0].body);
                }
            })

    });

    $(document).on("click", "#savenote", function () {
        console.log("i'm adding a note");
        var thisId = $(this).attr("data-id");
        console.log("saving a note to " + thisId)

        $.ajax({
            type: "POST",
            url: "/posts/" + thisId,
            data: {
                title: $("#titleinput").val(),
                body: $("#bodyinput").val()
            }
        })
    })

    // Save to favs - Incomplete at the mo
    $(".save-btn").on("click", function (event) {
        event.preventDefault();
        console.log("i clicked save");

        var thisId = $(this).attr("data-id");
        console.log(thisId);

        $.ajax("/api/posts/" + thisId, {
            type: "PUT",
            data: { isSaved: true }
        })
            .then(
                function () {
                    // console.log(data)
                    console.log(thisId + "saved as a fav")
                }
            )

    });







</script>