<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Link</th>
                <th scope="col">Summary</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.link}}</td>
                <td>$ {{this.summary}}</td>
                <td>
                    <button data-id="{{this.id}}" class="save-btn"><i class="far fa-save"></i></button>

                    <button data-id="{{this.id}}" class="notes-btn"><i class="far fa-sticky-note"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="note-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Javascript -->

<script type="text/javascript">

    // Display the note-modal when you click the notes-btn

    $(document).ready(function () {
        $(".notes-btn").on("click", function (event) {
            event.preventDefault();
            console.log("i clicked notes");
            $("#note-modal").modal("toggle"); 

        }); 
    }); 

</script>
