<div class="row">

    {{#each posts}}
    <div class="col s6 indigo lighten-5">
        <div class="card" style="height:300px">
            <div class="card-image waves-effect waves-block waves-light">
                <!--put the image here using handlebars"-->
                <img class="activator center" src={{this.image}} style="max-height:200px">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><a href={{this.link}}>{{this.title}}</a>
                    <span data-id="{{this.id}}" class="save-btn"><i class="far fa-save right"></i></span>
                    <span data-id="{{this.id}}" class="notes-btn"><i class="far fa-sticky-note right"></i></span></span>
                {{!-- <p><a href={{this.title}}>{{this.link}}</a></p> --}}
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" id="notes{{this.id}}"><i class="material-icons right">close</i></span>


                {{!-- <button data-id="{{this.id}}" class="save-btn"><i class="far fa-save"></i></button> --}}

                {{!-- <button data-id="{{this.id}}" class="notes-btn"><i class="far fa-sticky-note"></i></button> --}}
            </div>
        </div>
    </div>
{{/each}}
</div>

{{!-- <div class="container">
    <div class="row">
        <!--START COL1 HERE -->
        <div class="col-md-8 table-col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Link</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.link}}</td>
                        <td>{{this.summary}}</td>
                        <td>
                            <button data-id="{{this.id}}" class="save-btn"><i class="far fa-save"></i></button>

                            <button data-id="{{this.id}}" class="notes-btn"><i class="far fa-sticky-note"></i></button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <!--END THE COL HERE -->
        </div>
        <div class="col-med-4" id="notes">
            <p>this is where the notes will go</p>
        </div>
    </div>
</div> --}}


<!--Javascript -->

<script type="text/javascript">

    // Display the note section when you click the notes button
    $(".notes-btn").on("click", function (event) {
        event.preventDefault();
        console.log("i clicked notes");
        // $("#note-modal").modal("toggle");
        $("#notes").empty();

        var thisId = $(this).attr("data-id");

        $.ajax({
            type: "GET",
            url: "/posts/" + thisId
        })

            .then(function (data) {
                console.log(data);
                $("#notes" + thisId).append("<h6>" + data.title + "</h6>");
                $("#notes"+ thisId).append("<input id='input-field' name='title' >");
                $("#notes"+thisId).append("<textarea class='materialize-textarea' id='bodyinput' name='body'></textarea>");
                $("#notes"+thisId).append("<button class='add' data-id='" + data._id + "' id='savenote'>Add a Note</button>");

                if (data.note[0]) {
                    console.log(data.note[0]);
                    $("#titleinput").val(data.note[0].title);
                    $("#bodyinput").val(data.note[0].body);
                }
            })

    });

    $(document).on("click", "#savenote", function () {
        console.log("i'm adding a note");
        var thisId = $(this).attr("data-id");
        console.log("saving a note to " + thisId)

        $.ajax({
            type: "POST",
            url: "/posts/" + thisId,
            data: {
                title: $("#titleinput").val(),
                body: $("#bodyinput").val()
            }
        })
    })

    // Save to favs - Incomplete at the mo
    $(".save-btn").on("click", function (event) {
        event.preventDefault();
        console.log("i clicked save");

        var thisId = $(this).attr("data-id");
        console.log(thisId);

        $.ajax("/api/posts/" + thisId, {
            type: "PUT",
            data: { isSaved: true }
        })
            .then(
                function () {
                    // console.log(data)
                    console.log(thisId + "saved as a fav")
                }
            )

    });







</script>